*{

}
body{
    /* background-color: aqua; */

    height: 150vh;
}
main{
    min-height: 100vh;
    position: relative;
}
.head{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.promo{
    background-color: black;
    color: white;
    padding: 2px;
    top: 0;
    width: 100%;
    text-align: center;
}

/*FOOTER*/

ul li {
    /* margin-bottom: 10px; */
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #837f7f; 
}





/* VIDEO */
.video-container {

  width: 100%;
  height: 100%;
  overflow: hidden;
}

