<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../Public/css/style.css">
</head>

<body>
    

<header>
    <p>Livraison GRATUITE dans toute L'EUROPE</p>
    
</header>

<main>
    <h1>E-success</h1>
    <nav>
        <ul>
            <li><a href="#">ACCEUIL</a></li>
            <li><a href="#">PRODUIT</a></li>
            <li><a href="#">MON COMPTE</a></li>
            <li><a href="#">PARAMETRE</a>
            <ul><a href="#"></a>USER</ul>
            <ul><a href="#"></a>ROLE</ul>
            </li>
        </ul>
    </nav>
</main>

<footer>
    
    <p>CopyRight by E-Success</p>
    
   quentin t'es un bizu
    
</footer>


</body>
</html>